.avertissement {
    color:red;
    font-size:large;
    font-weight:bold;
    font-variant:small-caps
 }
 .gris{
    background-color: grey; border:solid 1px white; padding-top:15px; padding-bottom:15px;}


.myform{
   max-width: 100%;
   box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
   padding: 2em;
   color:#fff;
   @media (max-width: 576px) {
      max-width: 90%;
      margin: 0px auto;
   }
}

.modal-body{
   padding: 0px;
}


.btn-close{
   position: absolute;
   right: 0;
   padding: 1em;
}

.modal-content{
   width: 80%;
   margin: 0px auto;
}

.h1{
   font-size: 2.3em;
   font-weight: bold;
}

.form-control{
   background-color: inherit;
   color: #fff;
   padding-left: 0px;
   border: 0px;
   border-bottom: 1px solid #fff;
}

.myform .btn{
   width: 100%;
   background-color: #fff;
   font-weight: 800%;
   border-radius: 0;
   padding: 0.5em 0;
}

.myform .btn1{
   width: 0%;
   font-weight: 0%;
   border-radius: 0;
   color: blue;
   padding: 0;

}

.myform .btn:hover{
   color: #333;
}

p a {
   color: #e1e1e1;
   text-decoration: none;
}

p{
   text-align: center;
   padding-top: 2em;
   color: grey;
}

p a:hover{
   color:blue;
}